@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --text: #090613;
    --background: #efebf9;
    --primary: #311b79;
    --secondary: #8365e6;
    --accent: #3f15bc;
  }
  .dark {
    --text: #edeaf8;
    --background: #0a0615;
    --primary: #9d87e5;
    --secondary: #371997;
    --accent: #6a41ea;
  }
}

.gradient-text {
  background: linear-gradient(to right, #ff8a00, #e52e71);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid gray;
  padding: 2px 20px;
  border-radius: 15px;
}
.gradient-bg {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-image: linear-gradient(120deg, #060021 0%, #033465 100%);
}
/* table,
th,
td {
  border: 1px solid rgb(247, 247, 247);
  border-collapse: separate;
} */
tr {
  border-bottom: 1px solid wheat;
}
td {
  padding: 1rem 1rem;
}
thead {
  text-align: left;
}
.blurred- {
  background-image: url("https://images.unsplash.com/photo-1554050857-c84a8abdb5e2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8fA%3D%3D"); /* Replace 'your-background-image.jpg' with your image path */
  background-size: cover;
  backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
  -webkit-backdrop-filter: blur(8px); /* For Safari */
}
.paginate li {
  padding: 0.5rem 0.3rem;
  background: rgb(1, 53, 53);
  border-radius: 15px;
}
